{% extends 'base.html' %}

{% block title %}
	Все товары
{% endblock %}


{% block content %}
    {% include 'product_cards.html' with data=data %}
    <div class="d-flex justify-content-between mt-4 my-4">
        {% if previous_page_url %}
            <a href="{{ previous_page_url }}" class="btn btn-primary">Предыдущая</a>
        {% else %}
            <button class="btn btn-secondary" disabled>Предыдущая</button>
        {% endif %}
        {% if next_page_url %}
            <a href="{{ next_page_url }}" class="btn btn-primary">Следующая</a>
        {% else %}
            <button class="btn btn-secondary" disabled>Следующая</button>
        {% endif %}
    </div>
{% endblock %}